[Desktop Entry]
Type=Application
Version=1.5
Name=Quick Translate
GenericName=Translator
Comment=Translate your selected text anywhere
Icon={{.Icon}}
Exec={{.Exec}}
Terminal=false
Categories=Utility;
Keywords=translate;translation;clipboard;selection;language;
StartupNotify=false
StartupWMClass={{.Class}}
