[Unit]
Description=Quick Translate Background Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart={{.Exec}}
RestartSec=3
Restart=on-failure

[Install]
WantedBy=graphical-session.target
